processManagement:
  fork: true
systemLog:
  destination: file
  path: /data/test/logs/mongod.log
  logAppend: true
storage:
  journal:
    enabled: true
  dbPath: /data/test/data/
  directoryPerDB: true
  engine: wiredTiger
  wiredTiger:
    engineConfig:
      cacheSizeGB: 2
      directoryForIndexes: true
    collectionConfig:
      blockCompressor: snappy
    indexConfig:
      prefixCompression: true
net:
   port: 33320
   maxIncomingConnections: 10000
   bindIpAll: true
operationProfiling:
   slowOpThresholdMs: 100
   mode: slowOp

replication:
   oplogSizeMB: 10240
   replSetName: featdoc

security:
   keyFile: /data1/mongodb/test_auth_repl/8001/keys/keyfile
   clusterAuthMode: keyFile
   authorization: enabled

#sharding:
#   clusterRole: shardsvr
#   archiveMovedChunks: true
